    <br><br>
        <div class="container-fluid text-center">
            <footer>PhoenixBot is a bot by SylveonDev. PhoenixBot is not officially affiliated with Discord. </footer>
        </div>
    </body>
</html>