<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Scripts -->
        <script src="/jquery/jquery.js"></script>
        <script src="/bootstrap/js/bootstrap.bundle.js"></script>
        <script src="/bootstrap-select/js/bootstrap-select.js"></script>

        <!-- Stylesheets -->
        <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="/bootstrap-select/css/bootstrap-select.css" rel="stylesheet">

        <!-- Base stuff -->
        <title><%= title %> - PhoenixBot</title>
        <link rel="favicon" href="http://phoenix.sylveondev.xyz/favicon.ico">

        <!-- Embed tags -->
        <meta content="Phoenix Dashboard" property="og:title" />
        <meta content="The dashboard to configure Phoenix. Add extended functionality to your server with Phoenix" property="og:description" />
        <meta property="og:image" content="http://phoenix.sylveondev.xyz/phoenixlogo.png">
        <meta property="og:image:type" content="image/png">
        <meta content="#FF6D12" data-react-helmet="true" name="theme-color" />
    </head>
    <body>
        <!-- <span class="navbar-brand mb-0 h1">    PhoenixBot</span> -->
            
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="/"><img src="<%= (bottype == 'prod' ? '/phoenixlogo.png' : '/staginglogo.png') %>" height="30px" width="30px"> PhoenixBot<%= (bottype == 'prod' ? '' : ' Staging') %></a><button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link" href="/dash">Dash home</a>
                  <a class="nav-link" href="/dash/userdb">UserDB</a>
                  <a class="nav-link active" aria-current="page" href="/dash/end">Logoff</a>
                </div>
              </div>
            </div>
          </nav>