<%- include('../partials/header'); %>
<div class="container text-center">
    <h1>500 - Internal server error</h1>
    <p>Sorry, the server experienced an error. No point in trying again, the server had an error.<br>Click go home to go to the homepage.</p>
    <a class="btn btn-secondary" href="/">Go home</a>
</div>
<%- include('../partials/footer'); %>