<%- include('../partials/header2'); %>
<br>
<div class="text-center">
    <img src="<%= usericon %>" width="128px" style="border-radius: 100%;" />
    <h1>Hello <%= username %></h1>
    <p>Not you? <a href="/dash/end">Logout</a> of the dashboard and log back in.</p>
    <br><br>
    <p>This dashboard is unfinished so nothing exists yet. Check back later to test it out!</p>
</div>
<%- include('../partials/footer'); %>