<%- include('../partials/header'); %>
<h1>PhoenixBot</h1>
<p>The bot of all time ngl.</p>
<p>This website is heavily unfinished. There'll be stuff here soon. <a href="https://discord.com/oauth2/authorize?client_id=1171286616967479377">Invite the bot here.</a></p>
<%- include('../partials/footer'); %>