<%- include('../partials/header'); %>
<div class="container">
    <h1>Privacy Policy</h1>
    <p>By using PhoenixBot in your server, you agree to our privacy policy. As always you can view the <a href="https://github.com/team-custard/phoenixbot">source code</a> to Phoenix at anytime to see if the bot is safe for yourself, and of course make changes to the bot to better it. If you find any issues with the privacy policy, you can also make a change to it in our source code.
     Phoenix includes a service known as <b>UserDB</b>. It is a service mainly designed where other users can view your time and pronouns. Users can only view such details if you opt to set the service up. You can always opt out of the service at anytime afterwards. If you choose to opt out, your timezone and pronoun data will be instantly erased off our database. By using UserDB, you consent to your time and pronoun data being publicly available to all users via an API and via the bot itself.
     Please be mindful that Phoenix logs in our bot staff chats when you add the bot to your server, and when an error occurs while using the bot. This is specifically for enforcing our terms of service, and blacklisting any server that might be breaking our rules. When you add the bot to your server, it creates a server settings database. The database is used for storing server settings set by the admins, and moderation cases. The data is not sold to companies. At this time, and server settings database created is permanent, unless you ask for the bot developer to delete the database.
     That concludes the privacy policy. If you have any questions, please ask on our Discord server.</p>
</div>
<%- include('../partials/footer'); %>