<%- include('../partials/header'); %>
<div class="container text-center">
    <img src="https://images.emojiterra.com/twitter/512px/1f389.png" alt="Tada emoji" style="height: 20%; width: 20%;">
    <h1>Bot invited</h1>
    <p>You have successfully invited Phoenix to your server!<br>Use <bold>=help</bold> to get my commands (==help on staging)!</p>
    <h3>Next steps</h3>
    <p>Configure Phoenix on our dashboard. If you need help, feel free to join our support server.</p>
    <a class="btn btn-secondary" href="/dash">Dashboard</a>
    <a class="btn btn-secondary" href="/server">Support server</a>
</div>
<%- include('../partials/footer'); %>