<%- include('../partials/header'); %>
<div class="container">
    <h1>Terms of service</h1>
    <p>By using PhoenixBot in your server, you agree to our terms of service. Failure to comply to our terms will result in either a complete database reset or a blacklist from using our bot in your server.<br>
    Should you be blacklisted, you can appeal by joining the PhoenixBot discord server and appealing.</p>
    <h3>Rules</h3>
    <p>When using PhoenixBot, you may not</p>
    <ul>
        <li>Use the bot to harass members in any hurtful way using Phoenix's commands. You should not use Phoenix's commands to verbally attack anyone.</li>
        <li>Use the bot to promote scams through the bot, especially though user's dms. We do not tolerate any scams being promoted through the bot.</li>
        <li>Use the bot to post illegal content through the bot. This is also not tolerated and we will blacklist any server that is found to be posting these.</li>
    </ul>
    <h3>Reporting</h3>
    <p>To report a user for breaking the Phoenix terms, you may do so from the PhoenixBot server in the support channel. Make sure to attach photographic evidence as proof of the incident so we know if they're breaking the rules. Thank you for your interest in PhoenixBot.</p>
</div>
<%- include('../partials/footer'); %>